.container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#divider {
    min-width: 2px;
    background-color: black;
    height: auto;
}

.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
}

.left-panel {
    flex: 3;
}

.right-panel {
    flex: 1;
}

.left-panel_inter, .right-panel_inter {
    display: flex;
    flex-direction: column;
}

.left-panel_inter {
    flex: 1;
}

.right-panel_inter {
    flex: 4;
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#controls2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

.buttons {
    margin-bottom: 10px;
    display: flex;
}

#deselectNodeButton {
    margin-bottom: 10px;
}

#checkboxes, #nodeSelection, #checkboxes2, #ownerCheckboxes, #ownerCheckboxes2,#bookCheckboxes {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
    margin-bottom: 10px;
    overflow-y: auto;
}

#checkboxes, #bookCheckboxes {
    max-height: 150px;
}

#nodeSelection {
    max-height: 150px;
}

#checkboxes2, #ownerCheckboxes {
    max-height: 150px;
}

#nodeSelection label {
    display: block;
    margin: 5px 0;
}

#linkDirectionControls label {
    display: block;
    margin: 5px 0;
}

.zoom-controls {
    display: flex;
    margin-bottom: 10px;
}

.zoom-controls button {
    margin-right: 5px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 270px;
}

.selectedNode, .relatedNode {
    stroke: darkred;
    stroke-width: 2;
}

.selectedNode {
    fill: #5D3A9B;
    opacity: 1;
}

.relatedNode {
    fill: #E66100;
}

.bookRelatedNode {
    opacity: 1;
}

.bookUnrelatedNode {
    opacity: 0.2;
}

.relatedLink {
    stroke: #E66100;
}

.unselectedNode, .unselectedLink {
    opacity: 0.1;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

text {
    font-family: Arial, sans-serif;
    font-size: 8px;
    pointer-events: none;
    user-select: none;
}

#nodeTable {
    display: block;
    overflow-y: auto;
    max-height: 400px;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#nodeTable table {
    width: 100%;
    border-collapse: collapse;
}

#nodeTable th, #nodeTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#nodeTable th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nodeTable tr:hover {
    background-color: #f5f5f5;
}

#bookDetails {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    z-index: 100;
    width: 450px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 20px;
}


button {
    padding: 8px 16px;
    margin-right: 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}



#top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top_bar {
    float: left;
}

.top_bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_bar a:hover {
    background-color: #111;
}



#side{
    margin-left: 0;
    padding-left: 0;
}

#side li a{
    margin-left: 0;
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: black;
    font-size: 16px;
    position: relative;
}

#side  li a:hover,
#side  li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

#side  li a:hover .icon,
#side  li a.active .icon{
    color: #0c7db1;
}

#side  li a:hover:before,
#side  li a.active:before{
    display: block;
}
#sidebar {
    width: 15%;
    margin-left: 0;
    border-right: 1px solid black;
}
#main {
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-top: 0;
}

.hover-description p {
    white-space: nowrap;
    font-size: 12px;
    color: #460808;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 750px;
}

.hover-description .moreText {
    text-decoration: underline;
    cursor: pointer;
}

.full-description {
    font-size: 17px;
    color: black;
    text-align: left;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    z-index: 1000;
    max-width: 450px;
    max-height: 500px;
    overflow-y: auto;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.checkbox-container label {
    margin-right: 20px;
}

nav, .nav-parent {
    overflow: visible;
}


.bar {
    position: fixed;
    left: 0;
    top: 55px;
    background: white;
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    overflow-y: auto;
}

.bar.active {
    transform: translateX(0);
}

.toggle-sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 1000;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    width: 25px;
    height: 40px;
}

.highlighted-node {
    stroke: #D85E12;
    stroke-width: 3px;
}

.highlighted-link {
    stroke: #D85E12;
    stroke-width: 3px;
}

#ownerTypeExplanation {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
.highlight {
    fill-opacity: 1;
    stroke-width: 4px;
    stroke: chartreuse;
}
.highlight-text {
    font-weight: bold;
    fill: darkred;
    font-size: 12px;
}

.highlighted {
    stroke: orange !important;
    stroke-width: 2 !important;
    opacity: 1 !important;
}
.locked {
    stroke: orange !important;
    stroke-width: 2 !important;
    opacity: 1 !important;
}

.text-highlighted {
    font-weight: bold;
    stroke: darkred;
}
.circle-highlighted {
    r: 4 !important;
}