<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>BookOwnershipTracker</title>
</head>
<body>
<nav>
    <ul id="top">
        <li class="top_bar"><a href="{{ url_for('network') }}" class="{{ 'active' if 'home' in active_page }}">Home</a></li>
        <li class="top_bar"><a href="{{ url_for('inter_spiderweb') }}" class="{{ 'active' if 'inter' in active_page }}">Interconnection diagram</a></li>
        <li class="top_bar" style="float:right"><a href="#">About</a></li>
        <li class="top_bar" style="float:right"><a href="{{ url_for('network_guide') }}" class="{{ 'active' if 'guide' in active_page }}">User Guide</a></li>
    </ul>
</nav>
<div id="main">

    {% block chart %}

    {% endblock %}
</div>
</body>
</html>