<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<div class="container">
    <div class="left-panel">
        <label><input type="checkbox" id="showOwnerType"> Show Owner Type</label>
        <svg></svg>
        <div class="zoom-controls">
            <button id="zoomInButton">Zoom In</button>
            <button id="zoomOutButton">Zoom Out</button>
            <button id="resetZoomButton">Reset Zoom</button>
        </div>
    </div>
    <div class="right-panel" id="controls">
        <div id="buttons">
            <button id="selectAll">Select All</button>
            <button id="deselectAll">Deselect All</button>
        </div>
        <input type="text" id="bookSearch" placeholder="Search BookID">
        <div id="checkboxes">
            <!-- 复选框将被添加到这里 -->
        </div>
        <button id="deselectNodeButton">Deselect Node</button>
        <input type="text" id="nodeSearch" placeholder="Search Node">
        <div id="nodeSelection">
            <!-- 单选按钮将被添加到这里 -->
        </div>
        <div id="linkDirectionControls" style="display: none;">
            <label><input type="checkbox" id="showIncomingLinks" checked> Show Incoming Links</label>
            <label><input type="checkbox" id="showOutgoingLinks" checked> Show Outgoing Links</label>
        </div>
    </div>
</div>
<div class="search-timeline-container">
    <div id="timeline">
        <!-- Timeline will be rendered here -->
    </div>
    <div>
        <div id="searchBar">
            <input type="text" id="bookFilter" placeholder="Search for book IDs...">
        </div>
        <div id="checkboxes2">
            <!-- Checkboxes will be added here dynamically -->
        </div>
    </div>
</div>

<svg id="chordSvg" width="800" height="900"></svg>


</body>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="{{ url_for('serve_js', filename='network_graph.js') }}"></script>
<script src="{{ url_for('serve_js', filename='chord_graph.js') }}"></script>
<script src="{{ url_for('serve_js', filename='timeline.js') }}"></script>
</html>
