<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<div class="container">
    <div class="left-panel">
        <div class="description" style="width: 750px">
            <p>This network graph represents book ownership and transfers: nodes symbolize owners, with size reflecting their book count. Links denote book transfers with directional arrows. Node proximity suggests transfer frequency—the closer the nodes, the more frequent the transfers. The graph features zoom functionality for examining tight clusters and a shape-coded system to differentiate owner types: triangles for institutions, crosses for individuals. Hovering reveals the book or owner IDs.</p>
        </div>
        <label><input type="checkbox" id="showOwnerType"> Show Owner Type</label>
        <svg></svg>
        <div class="zoom-controls">
            <button id="zoomInButton">Zoom In</button>
            <button id="zoomOutButton">Zoom Out</button>
            <button id="resetZoomButton">Reset Zoom</button>
        </div>
    </div>
    <div class="right-panel" id="controls">
        <div  class="description" style="width: 200px">
            <p>Users can filter the books they wish to view using BookID checkboxes, and select the nodes they want to view using Node checkboxes, which also display related nodes and links.</p>
        </div>
        <div class="buttons">
            <button id="selectAll">Select All</button>
            <button id="deselectAll">Deselect All</button>
        </div>
        <input type="text" id="bookSearch" placeholder="Search BookID">
        <div id="checkboxes">
            <!-- 复选框将被添加到这里 -->
        </div>
        <div class="description" style="width: 200px">
            <p>Upon selecting an owner, the node becomes purple, connected nodes orange, and non-relevant links vanish. Users can toggle to display "Incoming" or "Outgoing" links for that owner. BookID checkboxes will then filter to show only the books associated with the selected node.</p>
        </div>
        <button id="deselectNodeButton">Deselect Node</button>
        <input type="text" id="nodeSearch" placeholder="Search Node">
        <div id="nodeSelection">
            <!-- 单选按钮将被添加到这里 -->
        </div>
        <div id="linkDirectionControls" style="display: none;">
            <label><input type="checkbox" id="showIncomingLinks" checked> Show Incoming Links</label>
            <label><input type="checkbox" id="showOutgoingLinks" checked> Show Outgoing Links</label>
        </div>
    </div>

</div>


<div class="container">
    <div class="left-panel">
        <div class="description" style="width: 790px; margin-top: 20px; margin-left: 5px">
            <p>The timeline shows book ownership over time, with colors marking the final owner and past holders. Owners are labeled by year for clarity. </p>
        </div>
        <div id="timeline">
            <!-- Timeline will be rendered here -->
        </div>
    </div>
    <div  class="right-panel" >
        <div id="searchBar">
            <input type="text" id="bookFilter" placeholder="Search for book IDs...">
        </div>
        <div id="checkboxes2">
            <!-- Checkboxes will be added here dynamically -->
        </div>
    </div>
</div>


<div class="container">
    <div class="left-panel">
        <div class="description" style="width: 800px; justify-content: flex-start;">
            <p>This graph shows the timeline of the ownership of 181 books. Each book's timeline has multiple nodes representing different owners. Each node is labelled with the start year and owner ID, and the timelines of all the books converge at a red centre point, indicating that the books were once owned by the same owner (ID 3467). Different nodes of the same owner are connected by coloured lines, making it easy to trace the common history between different books. Hover to see more details such as book ID and owner ID.</p>
        </div>
        <svg id="web"></svg>
    </div>
    <div class="right-panel" id="controls2">
        <div style="height: 100px"></div>
        <label>
            <input type="checkbox" id="toggleArrangedDataCheckbox" checked>
            Display data after cluster
        </label>
        <label>
            <input type="checkbox" id="showYearsCheckbox" checked>
            Show start year
        </label>
        <label>
            <input type="checkbox" id="showOwnersCheckbox">
            Show different Owner
        </label>
        <label>
            <input type="checkbox" id="showSameOwnersCheckbox" checked>
            Show link
        </label>
        <div class="buttons">
            <button id="webSelectAll">Select All</button>
            <button id="webDeselectAll">Deselect All</button>
        </div>
        <input type="text" id="ownerSearchBar" placeholder="Search Owner ID">
        <div id="ownerCheckboxes">
            <!-- 复选框将在这里生成 -->
        </div>
        <div class="description" style="width: 200px; justify-content: flex-start;">
            <p>'Show Start Year': Toggles the display of start years on nodes. Unchecking this makes the timelines cleaner and less cluttered.</p>
            <p>'Show Different Owner': Allows for color differentiation of nodes based on different owners. If unchecked, all nodes appear in blue, providing a uniform view.</p>
            <p>'Show Link': Controls the visibility of connections between nodes of the same owner across different timelines. Checking this box reveals a list of all owners, enabling users to select specific owners to view their links. Unchecking it hides both the checkbox list and the links on the diagram.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="left-panel">
        <div class="description" style="width: 600px; justify-content: flex-start;">
            <p>The Chord Diagram serves as a powerful visualization tool for illustrating the inter-relationships between entities, in this case, the exchange of books between owners. Unlike the network graph where the distance between nodes may be influenced by the size of the nodes, causing larger nodes to appear closer, the Chord Diagram provides a more precise representation of the relationships.</p>
        </div>
        <svg id="chordSvg" width="600" height="600"></svg>
    </div>
    <div class="right-panel">

    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="{{ url_for('serve_js', filename='network_graph.js') }}"></script>
<script src="{{ url_for('serve_js', filename='chord_graph.js') }}"></script>
<script src="{{ url_for('serve_js', filename='timeline.js') }}"></script>
<script src="{{ url_for('serve_js', filename='spider_web.js') }}"></script>
</html>
