{% extends 'base.html' %}
{% block chart %}
    <div>
        <button class="toggle-sidebar">≡</button>
        <div class="bar" style="width: 350px">
            <div class="left-panel_inter" style="margin-left: 20px; margin-top: 20px; margin-bottom: 20px">
                <div class="hover-description"  style="width: 240px; margin-left: 20px" data-fulltext="Users can filter the books they wish to view using BookID checkboxes, and select the nodes they want to view using Node checkboxes, which also display related nodes and links.">
                    <p>Users can filter the books ... <span class="moreText">Hover to read more</span></p>
                </div>
                <div class="buttons" style="margin-left: 20px">
                    <button id="selectAll">Select All</button>
                    <button id="deselectAll">Deselect All</button>
                </div>
                <input type="text" id="bookSearch" placeholder="Search BookID">
                <div id="checkboxes">

                </div>
                <div class="hover-description" data-fulltext="Upon selecting an owner, the node becomes purple, connected nodes orange, and non-relevant links vanish. Users can toggle to display 'Incoming' or 'Outgoing' links for that owner. BookID checkboxes will then filter to show only the books associated with the selected node.">
                    <p>Upon selecting an owner,... <span class="moreText">Hover to read more</span></p>
                </div>

                <button id="deselectNodeButton" style="width: 150px">Deselect Node</button>
                <input type="text" id="nodeSearch" placeholder="Search Node">
                <div id="nodeSelection">

                </div>
                <div id="linkDirectionControls" style="display: none;">
                    <label><input type="checkbox" id="showIncomingLinks" checked> Show Incoming Links</label>
                    <label><input type="checkbox" id="showOutgoingLinks" checked> Show Outgoing Links</label>
                </div>

            </div>
        </div>
        <div class="container" style="margin-left: 50px; margin-top: 20px">
            <div>
                <div class="hover-description"  style="width: 400px" data-fulltext="This network graph represents book ownership and transfers: nodes symbolize owners, with size reflecting their book count. Links denote book transfers with directional arrows. Node proximity suggests transfer frequency—the closer the nodes, the more frequent the transfers. The graph features zoom functionality for examining tight clusters and a shape-coded system to differentiate owner types: triangles for institutions, crosses for individuals. Hovering reveals the book or owner IDs.">
                    <p>This network graph represents book ownership and transfers... <span class="moreText">Hover to read more</span></p>
                </div>
                <div><label><input type="checkbox" id="showOwnerType"> Show Owner Type</label></div>
                <svg id="network"></svg>
                <div class="zoom-controls">
                    <button id="zoomInButton">Zoom In</button>
                    <button id="zoomOutButton">Zoom Out</button>
                    <button id="resetZoomButton">Reset Zoom</button>
                </div>
            </div>
            <div>
                <div class="hover-description" style="width: 400px" data-fulltext="This graph shows the timeline of the ownership of 181 books. Each book's timeline has multiple nodes representing different owners. Each node is labelled with the start year and owner ID, and the timelines of all the books converge at a red centre point, indicating that the books were once owned by the same owner (ID 3467). Different nodes of the same owner are connected by coloured lines, making it easy to trace the common history between different books. Hover to see more details such as book ID and owner ID.">
                    <p>This graph shows the timeline of the ownership of 181 books... <span class="moreText">Hover to read more</span></p>
                </div>
                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" id="showYearsCheckbox" checked>
                        Show start year
                    </label>
                    <label>
                        <input type="checkbox" id="showOwnersCheckbox">
                        Show different Owner
                    </label>
                    <label>
                        <input type="checkbox" id="showSameOwnersCheckbox" checked>
                        Show link
                    </label>
                </div>
                <svg id="web_svg" width="850" height="750">
                    <g id="web"></g>
                </svg>
                <div class="buttons">
                    <button id="zoom_in">Zoom In</button>
                    <button id="zoom_out">Zoom Out</button>
                    <button id="reset">Reset Zoom</button>
                </div>
            </div>

        </div>
    <div class="container">

        <div  class="left-panel" >
            <div id="searchBar">
                <input type="text" id="bookFilter" placeholder="Search for book IDs...">
            </div>
            <div id="checkboxes2">

            </div>
        </div>
        <div class="right-panel">
            <div class="hover-description"  style="width: 370px" data-fulltext="The timeline shows book ownership over time, with colors marking the final owner and past holders. Owners are labeled by year for clarity.">
                <p>The timeline shows book ownership over time,... <span class="moreText">Hover to read more</span></p>
            </div>
            <div id="timeline">

            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="{{ url_for('serve_js', filename='controlBar.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='description.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='network_inter_main.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='network_inter_spider.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='timeline.js') }}"></script>
{% endblock %}