{% extends 'sidebar.html' %}
{% block content %}
    <div>
        <div class="container" style="margin-top: 20px">
            <div class="left-panel">
                <div class="hover-description"  style="width: 400px" data-fulltext="This network graph represents book ownership and transfers: nodes symbolize owners, with size reflecting their book count. Links denote book transfers with directional arrows. Node proximity suggests transfer frequency—the closer the nodes, the more frequent the transfers. The graph features zoom functionality for examining tight clusters and a shape-coded system to differentiate owner types: triangles for institutions, crosses for individuals. Hovering reveals the book or owner IDs.">
                    <p>This network graph represents book ownership and transfers... <span class="moreText">Hover to read more</span></p>
                </div>
                <label><input type="checkbox" id="showOwnerType"> Show Owner Type</label>

                <svg id="network"></svg>

            </div>
            <div class="right-panel" id="controls">
                <div class="hover-description"  style="width: 240px" data-fulltext="Users can filter the books they wish to view using BookID checkboxes, and select the nodes they want to view using Node checkboxes, which also display related nodes and links.">
                    <p>Users can filter the books ... <span class="moreText">Hover to read more</span></p>
                </div>
                <div class="buttons">
                    <button id="selectAll">Select All</button>
                    <button id="deselectAll">Deselect All</button>
                </div>
                <input type="text" id="bookSearch" placeholder="Search BookID">
                <div id="checkboxes">

                </div>
                <div class="hover-description" data-fulltext="Upon selecting an owner, the node becomes purple, connected nodes orange, and non-relevant links vanish. Users can toggle to display 'Incoming' or 'Outgoing' links for that owner. BookID checkboxes will then filter to show only the books associated with the selected node.">
                    <p>Upon selecting an owner,... <span class="moreText">Hover to read more</span></p>
                </div>

                <button id="deselectNodeButton">Deselect Node</button>
                <input type="text" id="nodeSearch" placeholder="Search Node">
                <div id="nodeSelection">

                </div>
                <div id="linkDirectionControls" style="display: none;">
                    <label><input type="checkbox" id="showIncomingLinks" checked> Show Incoming Links</label>
                    <label><input type="checkbox" id="showOutgoingLinks" checked> Show Outgoing Links</label>
                </div>
                <div class="zoom-controls">
                    <button id="zoomInButton">Zoom In</button>
                    <button id="zoomOutButton">Zoom Out</button>
                    <button id="resetZoomButton">Reset Zoom</button>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="left-panel">
                <div class="hover-description"  style="width: 370px" data-fulltext="The timeline shows book ownership over time, with colors marking the final owner and past holders. Owners are labeled by year for clarity.">
                    <p>The timeline shows book ownership over time,... <span class="moreText">Hover to read more</span></p>
                </div>
                <div id="timeline">

                </div>
            </div>
            <div  class="right-panel" >
                <div id="searchBar">
                    <input type="text" id="bookFilter" placeholder="Search for book IDs...">
                </div>
                <div id="checkboxes2">

                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="{{ url_for('serve_js', filename='network_graph.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='description.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='timeline.js') }}"></script>
{% endblock %}