{% extends 'base.html' %}

{% block chart %}
    <div id="main">
        <div id="sidebar">
            <ul id="side">
                <li>
                    <a href="{{ url_for('network') }}" class="{{ 'active' if 'network' in active_page }}">
                        <span class="item">Network graph and Timeline</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('spiderweb') }}" class="{{ 'active' if 'spiderweb' in active_page }}">
                        <span class="item">Spiderweb-like Graph</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('chord') }}" class="{{ 'active' if 'chord' in active_page }}">
                        <span class="item">Chord diagram</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('euler') }}" class="{{ 'active' if 'euler' in active_page }}">
                        <span class="item">Euler diagram</span>
                    </a>
                </li>

            </ul>
        </div>
        {% block content %}

        {% endblock %}

    </div>

{% endblock %}